# --- CONFIGURACIÓN DEL SERVIDOR ---
PORT=3000

# --- BASE DE DATOS (PostgreSQL) ---
# El host debe ser el nombre del servicio en docker-compose (postgres-db)
DB_HOST=postgres-db
DB_PORT=5432
DB_NAME=nombre_de_tu_bd
DB_USER=tu_usuario
DB_PASSWORD=tu_password

# --- CAPA DE ESTADO (Redis) ---
# El host debe ser el nombre del servicio en docker-compose (redis-cache)
REDIS_HOST=redis-cache
REDIS_PORT=6379