# Dependencias
node_modules/

# Variables de entorno
.env

# Datos de la base de datos (Docker volumes)
pgdata/

# Logs y archivos temporales
npm-debug.log*
.DS_Store
dist/

# Archivos de Docker locales
.dockerignore